<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="./assets/android-icon-192x192.png" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="./css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Playfair+Display&display=swap"
    rel="stylesheet">
  <title>Upcoming Events</title>
</head>

<body>
  <div id="app">

    <!--------------------------HEADER----------------------------------->

  <header>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <div class="logo">
          <img src="./assets/logo_Amazing_Events.png" alt="logo" width="80" height="24">
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav m-1 me-1">
            <li class="nav-item">
              <a class="nav-link" href="./index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Upcoming Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./past.html">Past Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./contact.html">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./stats.html">Stats</a>
            </li>
          </ul>

        </div>
      </div>
    </nav>
  </header>

  <!--------------------------MAIN----------------------------------->
  <main class="container-fluid upmain" >
  <!--------------------------CAROUSEL----------------------------------->

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active slide">
          <img src="./assets/banner1.jpg" class="d-block w-100 slide" alt="...">
        </div>
        <div class="carousel-item slide">
          <img src="./assets/banner2.jpg" class="d-block w-100 slide" alt="...">
        </div>
        <div class="carousel-item slide">
          <img src="./assets/banner3.png" class="d-block w-100 slide" alt="...">
        </div>
      </div>
    </div>
  <!--------------------------section----------------------------------->
    <section class="container-fluid">
        <!--------------------------form----------------------------------->
        <article class="article__form" id="notfound">

          
        <form class="d-flex flex-wrap" id="checks">
          {{superFiltro}}
                    <div v-for="category in categorys" class="form-check form-switch d-flex flex-wrap">
                     <input v-model="categoryCheck" class="form-check-input" type="checkbox" role="switch" 
                       :id="category" :value="category" 
                       :value="category">
                      <label class="form-check-label" :for="category">
                      <h4>{{category}}</h4> </label>
                    </div>
                    
                    <div class="search" id="searcher">
                      <input v-model="searcher"  class="form-control me-2" id="searchbox" type="search" placeholder="Search" aria-label="Search">
                     
                    </div>
                  </form>
          
        </article>
  <!--------------------------cards----------------------------------->
    <article class="cards row" id="cards__data">
      
      <div v-for="eventos in eventosFinal"  class="card" style="width:21rem; padding:0.5rem;">
        <img :src="eventos.image" class="card-img-top card__image" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{eventos.name}}</h5>
          <p class="card-text">{{eventos.description}}</p>
          <a :href="'./details.html?_id='+eventos._id" class="btn btn-primary">More info</a>
        </div>
      </div>  


    </article>
  </section>

  </main>
  <footer class="container flex-wrap">
    <div class="social">
      <a href="https://www.facebook.com/amazing.events.mx" target="_blank"> <i class="bi bi-facebook"></i></a>
      <a href="https://www.instagram.com/amazing__events/" target="_blank"> <i class="bi bi-instagram"></i></a>
      <a href="https://walink.co/0167b2" target="_blank"> <i class="bi bi-whatsapp"></i></a>
     
    </div>
    
    <p class="footer__p"><h4>Created by Matías Quiroga. Contact:<a class="btn__footer" href="mailto:matiasquiroga.04@gmail.com">
      matiasquiroga.04@gmail.com</a>
</h4></p>
    <h5>Cohort</h5>
  </footer>
  <a href="#top" class="btnup"><i class="bi bi-arrow-up-circle-fill"></i></i></a>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/main.js"></script>
  </div>
</body>

</html>